DATABASE_URL=postgresql://notification_config_user:notification_config_password@localhost:55432/notification_config_dev
DB_SERVICE=postgres_dev
DB_NAME=notification_config_dev
DB_USER=notification_config_user
